public-hoist-pattern[]=@dhis2/ui
public-hoist-pattern[]=typeface-roboto
public-hoist-pattern[]=@dhis2/app-adapter
public-hoist-pattern[]=prop-types
public-hoist-pattern[]=@dhis2/d2-i18n
public-hoist-pattern[]=post-robot
public-hoist-pattern[]=styled-jsx
public-hoist-pattern[]=@dhis2/pwa
